.body {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

#game_over {
    position: absolute;
    left: 38%;
    z-index: 2;
    font-size: 60px;
}

.canvas {
    margin: auto;
    width: 1001px;
    height: 564px;
    z-index: 5;
}

#myCanvas {
    border: 1px solid black;
    background: url(https://longwallpapers.com/Desktop-Wallpaper/sky-background-For-Desktop-Wallpaper.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#play {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px 15px;
    position: absolute;
    top: 180px;

}