#myCanvas {
    border: 1px solid black;
    background: url(https://longwallpapers.com/Desktop-Wallpaper/sky-background-For-Desktop-Wallpaper.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#play {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px 15px;
    position: absolute;
    top: 180px;

}