#myCanvas {
    border: 1px solid black;
    background: url(https://longwallpapers.com/Desktop-Wallpaper/sky-background-For-Desktop-Wallpaper.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}